body {
    background-color: #ff3300;
    float: center;
}

.menu {
    border-radius: 15px; 
    text-align: center;
    background-color: #3399ff; 
    color: white;
    margin: auto;
}

.menu:hover {
    background-color: #0033cc;
    cursor: pointer;
}

.menu_button, .menu_button_side_by_side, .menu_button_bott_left, .menu_button_bott_right {
    border-radius: 15px; 
    text-align: center;
    background-color: #3399ff; 
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.menu_button:enabled:hover, .menu_button_side_by_side:hover, .menu_button_bott_left:hover, .menu_button_bott_right:hover {
    background-color: #0033cc;
    cursor: pointer;
}

.menu_button_side_by_side, .menu_button_bott_left {
    float: left;
}

.menu_button_bott_left, .menu_button_bott_right {
    bottom: 0;
}

.center {
    text-align: center;
}

.tutorial_box {
    display: block;
    background-color: brown;
    border-radius: 15px;
    margin: auto;
    height: 50%;
    width: 50%;
    overflow: hidden;
    padding: 15px;
}

.textcontent {
    overflow: scroll;
}

.middle {
    margin: auto;
    text-align: center;
}

.menu_button_bott_left {
    float: left;
}

.menu_button_bott_right {
    float: right;
}
