body {
    background-color: #ff3300;
    margin: 0;
    padding: 0;
}

.panel {
    list-style-type: none;
    margin: 0;
	padding: 0;
    left: 0;
    overflow: flex;
    background-color: brown;
}

.panelparts {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px brown solid;
    padding: 30px;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
    left: 0;
	width: 20%;
	position: fixed;
    background-color: #3399ff;
    color: white;
}

.bar, .bar:link, .bar:visited {
	display: block;
	text-decoration: none;
    color: white;
	text-align: center;
	font-size: 18pt;
    width: 100%;
    padding: 30px;
    background-color: #3399ff;
}

.bar:hover {
	background-color: #0033cc;
    cursor: pointer;
}

button.bar {
    display: block;
	text-decoration: none;
	text-align: center;
	font-size: 18pt;
    background-color: #3399ff;
    width: 100%;
    padding: 30px;
}
