body {
    background-color: #ff3300;
}

.menu_button {
    border-width: 30px;
    text-align: center;
    background-color: #3399ff; 
    color: white;
}

.menu_button:hover {
    background-color: #0033cc;
    cursor: pointer;
}