{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Saves</title>
    <link rel="stylesheet" href = "{% static 'css/menu.css' %}">
</head>
<body>
    <div class = "middle">
        <h1 style = "color: white">Create Saves</h1>
        {% if size == 0 %}
        <h1>There are no saves to delete!</h1>
        {% else %}
        <h1>You can pick one of these saves to delete</h1>
        {% for save, savecontent in saves.items %}
        <form action = "{% url 'deletesave' %}" method = "POST">
            {% csrf_token %}    
            <input type = "hidden" name = "savename" value = "{{save}}">
            <button class = "menu_button" name = "savename" value = "{{save}}"><h1>{{save}}</h1></button>    
        </form>
        {% endfor %}
        {% endif %}
        <form action = "{% url 'actualhome' %}" method = "Get">
            {% csrf_token %}<button class = "menu_button"  type = "submit"><h1>Back To Menu</h1></button>
        </form>
    </div>
</body>
</html>