{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Game Home</title>
    <link rel="stylesheet" href = "{% static 'css/game.css' %}">
</head>
<body>
    <ul class = "panel">
        <li class = "panelparts">{{username}}</li>
        <li class = "panelparts">Level: {{level}}</li>
        <li class = "panelparts">Coins: {{coins}}</li>
        <li class = "panelparts">Jewels: {{jewels}}</li>
        <li class = "panelparts">${{realmoney}}</li>
    </ul>

    <ul class = "menu">
        <form action = "{% url 'actualhome' %}" method = "Get">
            {% csrf_token %}<button class = "bar" type = "submit"><h4>Back To Menu</h4></button>
        </form>
        <form action = "{% url 'savetemp' %}" method = "POST">
            {% csrf_token %}
            <input type = "hidden" name = "funcname" value = "gamehome">
            <button class = "bar" type = "submit" onclick = "saveMessage()"><h4>Save File</h4></button>
            <script src = "{% static 'js/script.js' %}"></script>
        </form>
        <form action = "{% url 'tutorial' %}" method = "Get">
            {% csrf_token %}<button class = "bar" type = "submit"><h4>Tutorial</h4></button>
        </form>

    </ul>
    <div class = "homemenu">
        <form action = "{% url 'displayinventory' %}" method = "Get">
            {% csrf_token %}
            <button class = "homemenubutt" type = "submit"><h4>Inventory</h4></button>
        </form>
        <form action = "{% url 'summon' %}" method = "Get">
            {% csrf_token %}
            <button class = "homemenubutt" type = "submit"><h4>Summon</h4></button>
        </form>
        <form action = "{% url 'shop' %}" method = "Get">
            {% csrf_token %}
            <button class = "homemenubutt" type = "submit"><h4>Shop</h4></button>
        </form>
        <form action = "{% url 'roster' %}" method = "Get">
            {% csrf_token %}
            <button class = "homemenubutt" type = "submit"><h4>Roster</h4></button>
        </form>
    </div>
</body>