{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Load Saves</title>
    <link rel="stylesheet" href = "{% static 'css/menu.css' %}">
</head>
<body>
    <div class = "middle">
        {% if size > 0 %}
        <h1 style = "color: white">Load Saves</h1>
        <h2 style = "color: white">Existing saves</h2>
        {% for save, savecontent in saves.items %}
        {% if savecontent == None %}
        <span style = "display: block;">
        <button class = "menu_button" name = "savename" disabled><h1>Unused Save</h1></button>
        </span>
        {% else %}
        <form action = "{% url 'gamehome' %}" method = "POST">
            {% csrf_token %}
            <input type = "hidden" name = "tempinit" value = "True">
            <input type = "hidden" name = "savename" value = "{{save}}">
            <button class = "menu_button" name = "savename" value = "{{save}}"><h1>{{save}}</h1></button>
        </form>
        {% endif %}
        {% endfor %}
        {% else %}
        <h2 style = "color: white">There are no saves available</h2>
        {% endif %}
        <form action = "{% url 'actualhome' %}" method = "Get">
            {% csrf_token %}<button class = "menu_button" type = "submit"><h1>Back To Menu</h1></button>
        </form>
    </div>
</body>
</html>