{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Load Saves</title>
    <link rel="stylesheet" href = "{% static 'menu.css' %}">
</head>
<body>
    {% if saves|length > 0 %}
    <h1>Existing saves</h1>
    {% for save in saves %}
    <h1>{{save}}</h1>
    {% endfor %}
    {% else %}
    <h1>There are no saves available</h1>
    {% endif %}
    <form action = "{% url 'home' %}" method = "Get">
        {% csrf_token %}<button class = "menu_button"  type = "submit"><h1>Back To Menu</h1></button>
    </form>
</body>
</html>