{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href = "{% static 'css/menu.css' %}">
</head>
<body>
    <div class = "middle">
        <h1 style = "color: white" >Main Menu</h1>
        <h1 style = "color: white" >Welcome {{username}}!</h1>
        <form action = "{% url 'loadsaves' %}" method = "GET">
            <button class = "menu_button"><h1>Load Saves</h1></button>
        </form>
        <form action = "{% url 'createsave' %}" method = "GET">
            <button class = "menu_button"><h1>Create New Save</h1></button>
        </form>
        <form action = "{% url 'deletesave' %}" method = "GET">
            <button class = "menu_button"><h1>Delete A Save</h1></button>
        </form>
        <form action = "{% url 'tutorial' %}" method = "POST">
            {% csrf_token %}
            <input type = "hidden" name = "newpage" value = "2">
            <button class = "menu_button" type = "submit"><h1>Tutorial</h1></button>
        </form>
        <form action = "{% url 'promptaccount' %}" method = "GET">
            <button class = "menu_button"><h1>Logout</h1></button>
        </form>
        <form action = "{% url 'promptaccount' %}" method = "POST">
            {% csrf_token %}
            <input type = "hidden" name = "deleted" value = "True">
            <input type = "hidden" name = "username" value = "{{username}}">
            <button class = "menu_button" type = "submit"><h1>Delete Account</h1></button>
        </form>
    </div>
</body>
</html>